.card {
    margin: 10px;
    height: 125px;
    width: 100%;
    align-items: center;
}

.card-col {
    align-self: flex-start;
    padding-left: 10px;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.card-row {
    align-items: center;
}

.card-image {
    width: 100%;
    overflow: hidden;
    margin: auto;
    display: block;
}

.card-image-box {
    align-self: flex-end;
    background-color: #363636;
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}

.card-title {
    text-overflow: ellipsis;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    overflow: hidden;
    width: 225px;
    white-space: normal;
    margin: 10px 0 0;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
}
